.show-page-main-container {
  padding-top: 30px;
  background-color: rgb(249, 244, 228);
  height: 1200px;
}

.show-page-container {
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
}

.coffee-time-side-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 324px;
  height: 1000px;
}

.coffee-time-box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FEFEFE;
  height: 358px;
  width: 93%;
  padding: 10px;
  border: 1px solid #DDD;
}

.host-name-container {
  display: flex;
  justify-content: center;
  width: 294px;
  text-align: center;
}

.host-name {
  color: rgb(255, 86, 0);
  text-transform: uppercase;
  font-size: 1.1em;
}

.ct-box-date-container {
  display: flex;
  justify-content: flex-start;
  width: 290px;
  margin-bottom: 10px;
}

.ct-box-line {
  width: 294px;
  border-top: 1px solid ;
  margin-bottom: 20px;
  color:rgb(221, 221, 221);
}

.ct-side-bar-info-line {
  width: 120px;
  border-top: 1px solid ;
  margin-bottom: 20px;
  background-color: hsl(39, 92%, 51%);
}

.calendar-logo {
  margin-right: 20px;
}

.coffee-cup {
  width: 65px;
  height: 65px;
  margin-bottom: 8px;
}

.ct-box-date {
  height: 20px;
  margin-top: 12px;
  margin-bottom: 5px;
}

.ct-box-time-container {
  display: flex;
  width: 290px;
  height: 48px;
  margin-bottom: 10px;
}

.ct-box-time {
  margin-top: 12px;
  height: 24px;
}

.clock-logo {
  margin-right: 20px;
}

.ct-box-address-container {
  display: flex;
  width: 290px;
  height: 48px;
  margin-bottom: 10px;
}

.ct-box-address {
  margin-top: 5px;
  height: 24px;
}

.coffee-time-side-bar-info-intro {
  margin: 0px;
}

.coffee-time-side-bar-button {
  font-family: "canada-type-gibson", "Gibson", "Helvetica Neue", sans-serif;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 18px;
  line-height: 1;
  padding: 1em 4.5em;
  letter-spacing: 2px;
  text-decoration: none;
  width: 322px;
  background-color: rgb(254, 201, 63);
  border: 1px rgb(254, 193, 34) solid;
  transition-duration: 0.1s;
}

button:focus {outline:0;}

.coffee-time-side-bar-button:hover {
  background-color: hsl(39, 92%, 51%);
}

.coffee-time-side-bar-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  clear: both;
  background: rgb(241, 235, 194);
  padding: 2em 2em 1em;
  width: 260px;
  color: hsl(39, 92%, 51%);
}
  
p.host-intro-paragraph {
  font-weight: 350;
  font-size: 15px;
  margin-top: 6px;
  color:rgb(94, 93, 93);
}

.meet-your-host-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%
}

.host-intro {
  font-size: 2.0em;
  color: #EF6236;
}

.host-intro-message {
  margin-top: .5em;
  color: #929292;
  line-height: 1.5em;
  font-size: 15px;
  margin-bottom: -25px
}

.host-intro-container {
  padding: 12px 79px 34px 79px;
  display: flex;
  flex-direction: column;
  height: 94px;
}

.profile-pic {
  background-image: url(https://cdn.business2community.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640.png);
  background-size: cover;               
  background-repeat: no-repeat;
  background-position: center center;    
  height: 250px;
  width: 250px;
  margin-bottom: 34px;
}

.host-box-info-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #DDD;
  width: 452px;
  background: white;
  padding: 35px;
  overflow: auto;
}

.host-intro-paragraph {
  line-height: 1.2em;
}

