.ct-item-container {

}

.coffeeTime {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #DDD;
  padding: 0.75em 0.75em 1em 0.75em;
  position: relative;
  height: 258px;
  margin-top: 1em;
  margin-right: 9px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  background: #FEFEFE;
}

.ct-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(70, 74, 81);
}

.ct-weekday {
  text-transform: uppercase;
  color: #929292;
  font-size: 14px;
  margin: 6.5px;
}

.ct-month-day {
  text-transform: uppercase;
  margin: auto;
}


.ct-host {
  color: rgb(70, 74, 81)
}

.ct-time {
  text-transform: uppercase;
  font-size: 19px;
  padding: 6px;
  color: rgb(70, 74, 81)
}

.ct-host-container {
  display: flex;
  justify-content: center;
}

.ct-address {
  margin: 2px;
  color: #929292;
}

.ct-line {
  color: #929292;
}


.upcase {
  text-transform: uppercase;
}

.join-coffeetime-button {
  border-radius: 0 0 5px 5px;
  letter-spacing: 0;
  font-size: 0.8em;
  background: #fcebc7;
  color: #eda20b;
  border-width: 1px;
  width: 200pz;
  width: 100%;
  border-color: #F7BF4D;
  width: 234px;
  height: 44px;
  font-size: 16px;
}

.join-coffeetime-button:hover {
  color: white;
  background: rgba(247,191,77,0.87);
}


.coffee-time-container {
  padding-bottom: 11px;
}


.add-coffee-time-button {
  color: #f5997d;
  font-size: 47px;
}

.add-coffee-time-button:hover {
  color: #f5997d;
}

.add-coffee-time-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  background: rgb(239, 239, 239);
  padding: 0.75em 0.75em 1em 0.75em;
  position: relative;
  height: 288px;
  width: 198px;
  transition: 0.2s;
  border-radius: 4px;
  margin-bottom: 11px;
}

.add-coffee-time-button-container:hover {
  background:rgb(216, 216, 216); 
}




