
body {
  padding: 0;
  margin: 0;
  font-family: "canada-type-gibson", "Gibson", "Helvetica Neue", sans-serif;
}

.splash-container {
  background-image: url(https://images.pexels.com/photos/1415555/pexels-photo-1415555.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 411px;
}



.background-film {
  background: rgba(247,191,77,0.87);
  opacity: 1.2;
  height: 411px;
}

.background-text-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  display: flex;
  width: 1420px;
  height: 377px;

  .header-text {
    font-size: 40px;
  }

  .header-2-text {
    margin-top: 0px;
    padding-top: 0px;
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
    padding-bottom: 10px;
  }

  .tea-time-button {
    margin-top: 20px;
    font-family: "canada-type-gibson", "Gibson", "Helvetica Neue", sans-serif;
    background-color: #EF6236;
    border: 2px solid #EF6236;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 18px;
    line-height: 1;
    padding: 1em 3.5em;
    letter-spacing: 2px;
    text-decoration: none;
  }
}

.description-background {
  background: #F3ECCE;
  height: 143px;
}

.description-main {
  display: flex;
  justify-content: space-evenly;

  color: #EF6236;
  font-size: 1.125em;
  padding-top: 20px;
  padding-bottom: 20px;

  height: 30px;
}

.description {
  margin-top: 0px;
  padding-top: 0px;
  color: black;
  display: flex;
  justify-content: space-evenly;
  font-size: 15px;
  font-family: 'Nunito Sans', sans-serif;
}
