.my-coffeeTimes-main-container {
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    justify-content: center;
}

.dashboard-main-container {
  background-color: #faf7e6;
}

.my-coffeeTimes-container {
  width: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-nav-main-container {
  display: flex;
  justify-content: center;
  height: 60px;
  background-color: #fce6b8;
}

.dashboard-nav {
  height: 60px;
  width: 400px;
  display: flex;
  justify-content: space-evenly;  
  align-items: center;
}

.dashboard-nav-bar {
  color: rgb(70, 74, 82);
}

.my-coffeeTimes-sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 272px;
  
}

.my-coffeeTimes-welcome-message {
  color: #EF6236;
}

.my-coffeeTimes-button {
  height: 68px;
  width: 273px;
  border-radius: 7px;
  margin-top: 20px;
  font-size: 16px;
  font-family: "canada-type-gibson", "Gibson", "Helvetica Neue", sans-serif;
  background-color: #EF6236;
  border-radius: 10px;
  line-height: 1.3;
  color: white;
  display: inline-block;
  letter-spacing: 2px;
  border: none;
}  

.my-coffeeTimes-button:hover {
  background-color: #d82800;
} 


.my-coffeeTimes-title {
  color: #464a51;
  font-size: 20px;  
}

.my-coffee-time-item-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #FEFEFE;
  margin: 11px;
  height: 155px;
  width: 357px;
  border: 1px solid #DDD;
}

