.welcome-main-container {
    width: 678px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.welcome-intro {
  color: rgb(241, 97, 56);
  margin: 0px;
}

.welcome-message {
  font-family: 'Raleway', sans-serif;
  line-height: 1.8em;
}
