

.welcome-container {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 0px;
  pading-bottom: 0px;
}

.welcome-intro {
  color: rgb(241, 97, 56);
  padding-bottom: 0px;
  margin-bottom: 0px;

}

.welcome-message {
  margin-top: 0px;
  padding-top: 0px;
  font-family: 'Raleway', sans-serif;
}
