.form-page-container {
  font-size: 17px;
  display: flex;
  justify-content: center;
  background-color: #faf9e9;
  height: 555px;
}

form {
  width: 679px;
  display: flex;
  flex-direction: column;
}

.session-list {
  list-style-type: none;
}

.session-errors {
  padding: 10px;
  margin-left: -37px;
  margin-right: 122px;
  padding-left: 18px;
  background-color: #f44336;
  color: white;
  margin-bottom: 15px;
  border-radius: 8px;
}

input.username-form[type=text] {
  height: 50px;
  width: 661px;
  border-radius: 4px;
  font-size: 17px;
  padding-left: 12px;
  font-family: 'Raleway', sans-serif;
}

input.username-form[type=text]:focus {
  outline: none;
}

input.password-form[type=password] {
  font-size: 17px;
  padding-left: 12px;
  font-family: 'Raleway', sans-serif;
  height: 50px;
  width: 661px;
  border-radius: 4px;
}

input.password-form[type=password]:focus {
  outline: none;
}


.form-submit {
  height: 58px;
  width: 678px;
  border-radius: 10px;
  background-color: rgb(241, 97, 56);
  border: none;
  transition-duration: 0.2s;
}

.form-submit:hover {
  background-color: rgb(216, 40, 0);
}

input[type=submit] {
  color: white;
  font-size: 17px;
  font-family: 'Raleway', sans-serif;
  outline: none;
}

.session-form-alt-signup {
  text-decoration: none;
  color: rgb(241, 97, 56);
  transition-duration: 0.2s;
}

.session-form-alt-signup:hover {
  color: rgb(216, 40, 0)
}

.session-form-alt-signup-main {
    padding-top: 20px;
    width: 678px;
    text-align: center;
}

.session-form-alt-login {
  text-decoration: none;
  color: rgb(241, 97, 56);
  transition-duration: 0.2s;
  padding-left: 12px;
}

.session-form-alt-login:hover {
  color: rgb(216, 40, 0)
}
