.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgba(247,191,77,0.87);
}

.main-header {
  color: white;
  text-decoration: none;
  font-family: 'Shadows Into Light', cursive;
}
