.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgba(247,191,77,0.87);
  height: 76px;
}

.coffee-bean-logo {
  padding-top: 18px;
  padding-right: 3px;
  height: 9%;
  width: 9%;
}

.coffee-nav-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.main-header {
  margin-top: 0px;
  padding-top: 17px;
  padding-left: 4px;
  color: white;
  text-decoration: none;
  font-family: 'Shadows Into Light', cursive;
}
