.welcome-buttons {

  padding-top: 6px;
  padding-left: 20px;
  padding-right: 300px;
  margin-left: 20px;
  color: white;
  font-family: 'Poppins', sans-serif;

}

.signin-button {
  color: white;
  text-decoration: none;
  font-size: 15px;

  padding-right: 25px;
  padding-left: 0px;
  margin-left: 0px;
}

.signup-button {
  border: 1px solid rgba(247,191,77,0.87);
  background-color: white;
  color: rgba(247,191,77,0.87);
  font-size: 15px;
  text-decoration: none;
  padding: 9px 18px;
  border-radius: 5px;
  transition-duration: 0.2s;
}
.signup-button:hover {
  color: white;
  background: none;
  border: 1px solid white;
}

.demo-button {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-left: 60px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: none;
  background: none;
  border: 2px solid white;
  color: white;
  transition-duration: 0.2s;
}

.demo-button:hover {
  color: rgba(247,191,77,0.87);
  background: white;
}
